

/*CONTENEDOR GENERAL DE LA INFO DE LA LOCATION*/
.location {
  border-radius: 0.5em;
  background-color: rgba(80, 114, 71, 0.349);
  box-shadow: 0.3em 0.5em 0.5em 0.3em rgba(41, 40, 40, 0.662);
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  }
/*TITULO GRANDE DE LA LOCATION*/
.location__name {
  text-align: center;
  color: rgb(176, 230, 95);
  /* background-color: aqua; */
  letter-spacing: 1.5px;
  
}

/* CONTENEDOR GENERAL DE LA INFO DE LA LOCATION TYPE - DIMENNSION- pOPULATION */
.location__list {
  /* background-color: rgb(153, 66, 51); */
  margin: 15px 25px;
  
  display: flex; /*los pone uno junto al otro*/
flex-direction: column;
  gap: 1.5em;/*separa los textos*/
  justify-content: space-around; /*para que se distribuyan los espacios de las mismas medidas*/
}

/*TITULO O ETIQUET DE LA INFORMACION*/
.location__label {
    color: #81f165;
    
    font-weight: 500;
    letter-spacing: 2px;
  }


/* INFORMACION DE LA LOCASION*/
.location__item {
  display: flex; /*los pone en linea*/
  flex-direction: column; /*cambia a vertical el eje principal*/
  align-items: center; /*como esta en columna centra el eje principal vertical*/
  gap: 0.5em; /* le da separacion a los elementos*/
  color: rgb(207, 47, 47);
  font-weight: 300;
  letter-spacing: 1px;
}


