/*   reset  */
.article {
  background-color: red;
}
/* img {
  display: block;
  width: 100%;
  box-shadow: 1em 1em 0.5em 0.3em rgba(41, 40, 40, 0.662);
  height: 120px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
} */

.app {
  background-image: url("/img/background\ page.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100% auto;

  min-height: 100vh; /*que crezca todo lo que quiera pero que como minimo tenga 100vh*/
  margin-top: -28px;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.app__banner {
  background-image: url(/img/background\ header.png);
  background-size: 100%;
  display: flex;
  flex-direction: column;
}


.container__header {
  /* background-color:rebeccapurple; */
  padding: 2;
  position: relative;
  height: 150px;
}

.img1{
  position: absolute;
 top:-100px;
}

.img2{
  position: absolute;
  top: 25px;
}

.img3 {
  position: absolute;
  width: 180px;
  top: 55px;
  
  left: 28%;
  
} */

.app__form{
 
  margin-top: 4em;
  padding: 2em;
  display: flex;
 margin-right: 50px;

}


.input-button{
font-size: 1rem;
padding: 2em;
display: flex;
justify-content: center;
align-content: center;
}



.app__input {
  /* background-color: rebeccapurple; */
  padding: .5em;
  font-size: 1.2rem;
  align-content: center;
  border-radius: 0.5em 0 0 0.5em;
  border: 0;
  box-shadow: 0.3em 0.5em 0.2em 0.1em rgba(41, 40, 40, 0.662);
  /* margin-right: 50px; */
}

.app__btn {
  border-radius: 0 0.5em 0.5em 0;
  border: 0;
  font-size: 1.2rem;
  padding: 0 .5em;
  background-color: rgb(138, 221, 12);
  color: white;
  box-shadow: 0.3em 0.5em 0.2em 0.1em rgba(41, 40, 40, 0.662);
}




