/*   reset  */
.article {
  background-color: red;
}
/* img {
  display: block;
  width: 100%;
  box-shadow: 1em 1em 0.5em 0.3em rgba(41, 40, 40, 0.662);
  height: 120px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
} */

.app {
  background-image: url("/img/background\ page.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100% auto;

  min-height: 100vh; /*que crezca todo lo que quiera pero que como minimo tenga 100vh*/
  margin-top: -28px;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.app__banner {
  background-image: url(/img/background\ header.png);
  /* background-size: 100%; */
  display: flex;
  flex-direction: column;
}


.container__header {
  /* background-color:rebeccapurple; */
  padding: 2;
  position: relative;
  /* height: 150px; */
  display: flex;
  justify-content: center;
}

.img1{
  /* position: absolute; */
  width: 50%;
 margin-top:-20%;
 z-index: 10;
}

.img2{
  position: absolute;
  top: 25px;

}

.img3 {
  position: absolute;
  width: 40%; 
  top: 55px;
  left: 28%;
} 


.app__form{

display: flex;
justify-content: center;
text-align: center;
/* background-color: rgb(83, 153, 51); */
color: rgb(249, 255, 247);
}


.input-button{
/* background-color: red; */
font-size: .5rem;
padding: 1em;

display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
width: 100%;
z-index: 10;
margin-bottom: 1em;

}



.app__input {
  background-color: rgb(53, 63, 54);
  font-weight: 600;
  padding: .5em;
  font-size: .8rem;
  align-content: center;
  border-radius: 0.5em 0 0 0.5em;
  border: 0;
  box-shadow: 0.3em 0.5em 0.2em 0.05em rgba(41, 40, 40, 0.662);
  cursor: pointer;
  color: rgb(249, 252, 249);
}
.app__input:focus {
  background-color: rgb(247, 248, 244);
  color: black;
}


.app__btn {
  border-radius: 0 0.5em 0.5em 0;
  /* border: transparent; */
  font-size: 1rem;
  padding: 0 0.5em;
  background-color: rgb(85, 131, 17);
  color: white;
  box-shadow: 0.3em 0.5em 0.2em 0.02em rgba(41, 40, 40, 0.662);
  cursor: pointer;
}

.app__btn:hover{
   background-color: rgb(165, 236, 58);
   color: black;
}



