/*      RESET   */

*{
  box-sizing: border-box;
}


body{
  margin: 0; /*este solo afecta al body, no a todo lo que hay en el*/
  background-color: white;
}

h1 h2 h3 p ul{
  margin-top: 0;
  margin-bottom: 0;
}

ul {
list-style: none;
padding: 0; 
}

input{
  outline: 0; /*para que ???*/ 
  font-family: inherit;/*  el input no hededa solo debemos indicar que lo herede*/
  border: 0; /*para que se pegue al boton*/
}
 img{
  display: block; /*porque suele haber un espacio debajo de las imagenes que no queremos*/
  width: 100%;/*para que ocupe todo el ancho del contenedor*/
 }

 button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*buscar una fuente apropiada*/
 }
/*  #######  FINAL DEL RESET   ##########*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/




/* Rectangle 1 */
 /*img{
  position: absolute;
  width: 1440px;
  height: 384px; 
  
  background: url(image.png);}

 */
